@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
  font-family: "Quicksand", sans-serif;
  color: #2F2F2F;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}
a:hover {
  opacity: 0.8;
}

input,
select {
  width: 100%;
  line-height: normal;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.sp {
  display: block !important;
}
@media screen and (min-width: 1024px) {
  .sp {
    display: none !important;
  }
}

.pc {
  display: none !important;
}
@media screen and (min-width: 1024px) {
  .pc {
    display: block !important;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1230px;
  }
}

.container-fluid {
  max-width: 100%;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.m-5 {
  margin: 0.5rem;
}

.mt-5 {
  margin-top: 0.5rem;
}

.mr-5 {
  margin-right: 0.5rem;
}

.mb-5 {
  margin-bottom: 0.5rem;
}

.ml-5 {
  margin-left: 0.5rem;
}

.m-10 {
  margin: 1rem;
}

.mt-10 {
  margin-top: 1rem;
}

.mr-10 {
  margin-right: 1rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.ml-10 {
  margin-left: 1rem;
}

.m-15 {
  margin: 1.5rem;
}

.mt-15 {
  margin-top: 1.5rem;
}

.mr-15 {
  margin-right: 1.5rem;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.ml-15 {
  margin-left: 1.5rem;
}

.m-20 {
  margin: 2rem;
}

.mt-20 {
  margin-top: 2rem;
}

.mr-20 {
  margin-right: 2rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.ml-20 {
  margin-left: 2rem;
}

.p-5 {
  padding: 0.5rem;
}

.pt-5 {
  padding-top: 0.5rem;
}

.pr-5 {
  padding-right: 0.5rem;
}

.pb-5 {
  padding-bottom: 0.5rem;
}

.pl-5 {
  padding-left: 0.5rem;
}

.p-10 {
  padding: 1rem;
}

.pt-10 {
  padding-top: 1rem;
}

.pr-10 {
  padding-right: 1rem;
}

.pb-10 {
  padding-bottom: 1rem;
}

.pl-10 {
  padding-left: 1rem;
}

.p-15 {
  padding: 1.5rem;
}

.pt-15 {
  padding-top: 1.5rem;
}

.pr-15 {
  padding-right: 1.5rem;
}

.pb-15 {
  padding-bottom: 1.5rem;
}

.pl-15 {
  padding-left: 1.5rem;
}

.p-20 {
  padding: 2rem;
}

.pt-20 {
  padding-top: 2rem;
}

.pr-20 {
  padding-right: 2rem;
}

.pb-20 {
  padding-bottom: 2rem;
}

.pl-20 {
  padding-left: 2rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.header {
  padding: 1.5rem 0;
  background-color: #d70018;
  box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.33);
}
.header .container .header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header .container .header__top .header-logo-pc {
  display: none;
  font-size: 3rem;
  font-weight: 600;
  line-height: normal;
  color: #ffffff;
  text-shadow: 5px 2px 4px #5F5F5F;
}
@media screen and (min-width: 768px) {
  .header .container .header__top .header-logo-pc {
    display: block;
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .header .container .header__top .header-logo-pc {
    font-size: 4.8rem;
  }
}
.header .container .header__top .header-logo-sp {
  max-width: 3.5rem;
}
@media screen and (min-width: 768px) {
  .header .container .header__top .header-logo-sp {
    display: none;
  }
}
.header .container .header__top .header-address {
  max-width: 23rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
@media screen and (max-width: 1023px) {
  .header .container .header__top .header-address {
    display: none;
  }
}
.header .container .header__top .header-address .icon-address {
  fill: #ffffff;
}
.header .container .header__top .header-address p {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.header .container .header__top .header-search {
  position: relative;
  max-width: 15rem;
}
@media screen and (min-width: 350px) {
  .header .container .header__top .header-search {
    max-width: 20rem;
  }
}
.header .container .header__top .header-search input {
  width: 100%;
  padding: 1rem 4rem 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: normal;
  outline: none;
  color: #5F5F5F;
  border: 0;
  border-radius: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.header .container .header__top .header-search .icon-search {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  font-size: 1.8rem;
  color: #5F5F5F;
  cursor: pointer;
}
.header .container .header__top .header-hotline {
  display: none;
}
@media screen and (min-width: 768px) {
  .header .container .header__top .header-hotline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.header .container .header__top .header-hotline .icon-hotline {
  fill: #ffffff;
}
.header .container .header__top .header-hotline p {
  margin-left: 1rem;
}
.header .container .header__top .header-hotline p span {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  color: #ffffff;
}
.header .container .header__top .header-hotline p span:last-child {
  font-size: 1.4rem;
}
.header .container .header__top .header-hotline:hover p span {
  text-decoration: underline;
}
.header .container .header__top .header-cart {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.header .container .header__top .header-cart .icon-cart {
  font-size: 2.2rem;
  color: #ffffff;
}
.header .container .header__top .header-cart .notifi {
  position: absolute;
  top: -14px;
  left: 18px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: normal;
  color: #ffffff;
  background-color: orange;
  border-radius: 50%;
}
.header .container .header__top .header-cart p {
  display: none;
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .header .container .header__top .header-cart p {
    display: block;
  }
}
.header .container .header__top .btn-menu-sp {
  position: relative;
  width: 2.5rem;
  height: 4rem;
  cursor: pointer;
  z-index: 9999;
}
.header .container .header__top .btn-menu-sp span {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  border-radius: 10px;
  background-color: #ffffff;
}
.header .container .header__top .btn-menu-sp span:first-child {
  top: 30%;
}
.header .container .header__top .btn-menu-sp span:nth-child(2) {
  top: 50%;
}
.header .container .header__top .btn-menu-sp span:last-child {
  top: 70%;
}
.header .container .header__top .active span {
  background-color: #2F2F2F;
}
.header .container .header__top .active span:first-child {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.header .container .header__top .active span:nth-child(2) {
  display: none;
}
.header .container .header__top .active span:last-child {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.header .container .header__bottom {
  margin-top: 1rem;
}
@media screen and (max-width: 1023px) {
  .header .container .header__bottom {
    display: none;
  }
}
.header .container .header__bottom ul {
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.header .container .header__bottom ul li {
  position: relative;
}
.header .container .header__bottom ul li::after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 30px;
}
.header .container .header__bottom ul li:hover .sub-menu {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.header .container .header__bottom ul li a {
  padding: 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .header .container .header__bottom ul li a {
    font-size: 1.6rem;
  }
}
.header .container .header__bottom ul li a i {
  font-size: 2rem;
  margin-right: 1rem;
}
.header .container .header__bottom ul li .sub-menu {
  position: absolute;
  top: 45px;
  left: 0;
  width: 50rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.33);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.5s ease;
  transform: translateY(30%);
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
.header .container .header__bottom ul li .sub-menu a {
  padding: 1rem;
  width: 33.3333333333%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
  color: #5F5F5F;
  transition: all 0.3s ease;
}
.header .container .header__bottom ul li .sub-menu a:hover {
  color: #d70018;
}
.header .container .menu-sp {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
  background-color: #ffffff;
  z-index: 999;
}
.header .container .menu-sp h2 {
  padding: 2rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: normal;
  color: #d70018;
  text-shadow: 5px 2px 4px #5f5f5f;
}
.header .container .menu-sp ul {
  padding: 0 2rem;
}
.header .container .menu-sp ul li {
  padding: 2rem;
  border-bottom: 1px solid #b8b8b8;
}
.header .container .menu-sp ul li a {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}
.header .container .menu-sp ul li i {
  margin-right: 1rem;
}
.header .container .active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.main .banner {
  background: url(/images/background.png?35f126c932eaa3aaaf18b7f1932ece39) no-repeat;
  background-size: contain;
  background-position: center;
}
.main .banner .container {
  margin: 1rem auto;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .main .banner .container {
    padding: 0 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .main .banner .container {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    flex-wrap: nowrap;
  }
}
.main .banner .container .banner__left .slide-wrap {
  position: relative;
}
.main .banner .container .banner__left .slide-wrap .list-slide-item .slide-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .banner .container .banner__left .slide-wrap .control .btn-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  opacity: 0.8;
  transition: all 0.3s ease;
  cursor: pointer;
}
.main .banner .container .banner__left .slide-wrap .control .btn-control:active {
  opacity: 0.6;
}
.main .banner .container .banner__left .slide-wrap .control .control-left {
  left: 25px;
}
.main .banner .container .banner__left .slide-wrap .control .control-right {
  right: 25px;
}
.main .banner .container .banner__left .text-slide-wrap {
  background-color: #f3f3f3;
  border-radius: 8px;
}
.main .banner .container .banner__left .text-slide-wrap .wrap {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.main .banner .container .banner__left .text-slide-wrap .wrap a {
  width: calc(25% - 0.5rem);
  padding: 1rem 2rem;
  text-align: center;
  transition: all 0.3s ease;
}
.main .banner .container .banner__left .text-slide-wrap .wrap a:not(:last-child) {
  border-right: 1px solid #c4c4c4;
}
.main .banner .container .banner__left .text-slide-wrap .wrap a:hover {
  color: #d70018;
}
@media screen and (min-width: 1024px) {
  .main .banner .container .banner__left {
    width: calc(70% - 0.5rem);
    height: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .main .banner .container .banner__right {
    width: calc(30% - 0.5rem);
  }
}
.main .banner .container .banner__right a:not(:first-child) {
  margin-top: 0.5rem;
}
.main .banner .container img {
  border-radius: 0;
}
@media screen and (min-width: 1024px) {
  .main .banner .container img {
    border-radius: 8px;
  }
}
.main .products {
  margin: 6rem 0;
  background: url(/images/background.png?35f126c932eaa3aaaf18b7f1932ece39) no-repeat;
  background-size: contain;
  background-position: center;
}
.main .products .product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.main .products .product-title h2 {
  position: relative;
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
}
.main .products .product-title h2::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background-color: #d70018;
  border-radius: 30px;
}
.main .products .product-title .red-more {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: 1px solid #b8b8b8;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  transition: all 0.3s ease;
  background-color: #f3f3f3;
  cursor: pointer;
}
.main .products .product-title .red-more:hover {
  color: #ffffff;
  background-color: #b8b8b8;
}
.main .products .product-title .red-more i {
  font-size: 12px;
  margin-left: 0.5rem;
}
.main .products .list-products {
  margin: 2.5rem -1rem;
  display: flex;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
}
.main .products .list-products .product-item {
  width: 50%;
  padding: 1.5rem;
  transition: all 0.3s ease;
}
@media screen and (min-width: 768px) {
  .main .products .list-products .product-item {
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 1024px) {
  .main .products .list-products .product-item {
    width: 25%;
  }
}
@media screen and (min-width: 1200px) {
  .main .products .list-products .product-item {
    width: 20%;
  }
}
.main .products .list-products .product-item:hover {
  transform: translateY(-10px);
}
.main .products .list-products .product-item .product-wrap {
  padding: 2rem 1.5rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.33);
}
.main .products .list-products .product-item .product-wrap .product-content h3 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4;
  margin: 1rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main .products .list-products .product-item .product-wrap .product-content .info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: normal;
}
.main .products .list-products .product-item .product-wrap .product-content .info li {
  padding: 0.3rem 0.5rem;
  border: 1px solid #b8b8b8;
  border-radius: 30px;
}
.main .products .list-products .product-item .product-wrap .product-content .info li:not(:first-child) {
  margin-left: 0.5rem;
}
@media screen and (min-width: 768px) {
  .main .products .list-products .product-item .product-wrap .product-content .info {
    font-size: 1.2rem;
  }
}
.main .products .list-products .product-item .product-wrap .product-content .price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.main .products .list-products .product-item .product-wrap .product-content .price .price-new {
  color: #d70018;
}
.main .products .list-products .product-item .product-wrap .product-content .price .price-old {
  color: #5F5F5F;
  text-decoration: line-through;
}
@media screen and (min-width: 768px) {
  .main .products .list-products .product-item .product-wrap .product-content .price {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .main .products .list-products .product-item .product-wrap .product-content .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.main .products .list-products .product-item .product-wrap .product-content .rating .list-star {
  margin-right: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.main .products .list-products .product-item .product-wrap .product-content .rating .list-star .icon-start {
  font-size: 1.3rem;
  color: #b8b8b8;
}
.main .products .list-products .product-item .product-wrap .product-content .rating .list-star .icon-start:not(:first-child) {
  margin-left: 0.3rem;
}
.main .products .list-products .product-item .product-wrap .product-content .rating .list-star .active {
  color: #F59E0B;
}
.main .products .list-products .product-item .product-wrap .product-content .rating span {
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .main .products .list-products .product-item .product-wrap .product-content .rating span {
    margin-top: 0;
  }
}
.main .reviews .reviews-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.main .reviews .reviews-title h2 {
  position: relative;
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
}
.main .reviews .reviews-title h2::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background-color: #d70018;
  border-radius: 30px;
}
.main .reviews .reviews-title .red-more {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: 1px solid #b8b8b8;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  transition: all 0.3s ease;
  background-color: #f3f3f3;
  cursor: pointer;
}
.main .reviews .reviews-title .red-more:hover {
  color: #ffffff;
  background-color: #b8b8b8;
}
.main .reviews .reviews-title .red-more i {
  font-size: 12px;
  margin-left: 0.5rem;
}
.main .reviews .list-review {
  margin: 3.5rem 0;
}
@media screen and (min-width: 768px) {
  .main .reviews .list-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.main .reviews .list-review .review-product {
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .main .reviews .list-review .review-product {
    margin-top: 0;
    width: calc(33.3333333333% - 1.5rem);
  }
}
.main .reviews .list-review .review-product iframe {
  width: 100%;
  height: 21rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.main .detail {
  background: url(/images/background.png?35f126c932eaa3aaaf18b7f1932ece39) no-repeat;
  background-size: contain;
  background-position: center;
}
.main .detail .container {
  margin: 2rem auto;
}
.main .detail .container .breadcrumb {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.main .detail .container .breadcrumb li {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .main .detail .container .breadcrumb li {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
  }
}
.main .detail .container .breadcrumb li:not(:first-child) {
  position: relative;
  margin-left: 2.2rem;
}
.main .detail .container .breadcrumb li:not(:first-child)::before {
  position: absolute;
  content: ">";
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  color: #2F2F2F;
}
.main .detail .container .product-detail {
  margin: 2rem 0;
}
.main .detail .container .product-detail .product-name {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .main .detail .container .product-detail .product-name {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: normal;
  }
}
.main .detail .container .product-detail .content {
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .main .detail .container .product-detail .content {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: normal;
    flex-wrap: nowrap;
  }
}
.main .detail .container .product-detail .content .content-left {
  padding: 2.5rem;
}
@media screen and (min-width: 768px) {
  .main .detail .container .product-detail .content .content-left {
    width: calc(40% - 1rem);
  }
}
@media screen and (min-width: 768px) {
  .main .detail .container .product-detail .content .content-right {
    width: calc(60% - 1rem);
  }
}
.main .detail .container .product-detail .content .content-right .product-price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.main .detail .container .product-detail .content .content-right .product-price h3 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
  color: #d70018;
}
@media screen and (min-width: 768px) {
  .main .detail .container .product-detail .content .content-right .product-price h3 {
    font-size: 2.2rem;
  }
}
.main .detail .container .product-detail .content .content-right .product-price p {
  margin: 0 1rem 0 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
  text-decoration: line-through;
}
.main .detail .container .product-detail .content .content-right .product-price span {
  padding: 0.5rem 0.8rem;
  background-color: #d70018;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
}
.main .detail .container .product-detail .content .content-right .quantity {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.main .detail .container .product-detail .content .content-right .quantity p {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
}
.main .detail .container .product-detail .content .content-right .quantity input {
  margin-left: 1rem;
  padding: 0.2rem 0.5rem;
  width: 10%;
  outline: none;
}
.main .detail .container .product-detail .content .content-right .description {
  padding: 2rem 0;
}
.main .detail .container .product-detail .content .content-right .description p {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
}
.main .detail .container .product-detail .content .content-right .description > div {
  padding: 0 0 0 2rem;
}
.main .detail .container .product-detail .content .content-right .warranty {
  background-color: #fffae7;
  border-radius: 8px;
}
.main .detail .container .product-detail .content .content-right .warranty li {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
}
.main .detail .container .product-detail .content .content-right .warranty li i {
  color: #FBC500;
}
.main .detail .container .product-detail .content .content-right .warranty li:first-child {
  padding: 1rem;
  background-color: #d70018;
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  color: #ffffff;
  opacity: 0.9;
}
.main .detail .container .product-detail .content .content-right .warranty li:not(:first-child) {
  padding: 1rem;
}
.main .detail .container .product-detail .content .content-right .warranty li:last-child {
  padding-bottom: 2rem;
}
.main .detail .container .product-detail .content .content-right .list-btn {
  margin: 3rem 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-wrap: nowrap;
}
.main .detail .container .product-detail .content .content-right .list-btn .buy-now {
  width: 100%;
  padding: 0.8rem 3rem;
  color: #ffffff;
  text-align: center;
  background-color: #d70018;
  border: none;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.main .detail .container .product-detail .content .content-right .list-btn .buy-now p {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}
.main .detail .container .product-detail .content .content-right .list-btn .add-cart {
  margin-left: 1.5rem;
  padding: 0 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
  color: #ffffff;
  border: none;
  background-color: #FBC500;
  border-radius: 8px;
  cursor: pointer;
}

.main .cart {
  max-width: 80rem;
  margin: 1rem auto 0;
  padding: 1rem 2rem;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .main .cart {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .main .cart {
    box-shadow: 0 0 8px #ddd !important;
  }
}
.main .cart .cart-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 1.5rem 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  color: #d70018;
}
.main .cart .cart-title svg {
  fill: #d70018;
}
.main .cart .cart-title h4 {
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  .main .cart .cart-title h4 {
    font-size: 2rem;
  }
}
.main .cart .cart-title h4 .icon-cart {
  margin-right: 0.3rem;
}
.main .cart .list-product li {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 0 8px #ddd !important;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .main .cart .list-product li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.main .cart .list-product li img {
  max-width: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .main .cart .list-product li img {
    min-width: 12rem;
  }
}
.main .cart .list-product li:not(:first-child) {
  margin-top: 1.2rem;
}
.main .cart .list-product li .info-detail {
  margin: 0 auto 0 2rem;
}
.main .cart .list-product li .info-detail .product-name {
  max-width: 22rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .main .cart .list-product li .info-detail .product-name {
    min-width: 40rem;
  }
}
.main .cart .list-product li .info-detail .product-price {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.main .cart .list-product li .info-detail .product-price h3 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  color: #d70018;
}
.main .cart .list-product li .info-detail .product-price p {
  margin: 0 1rem 0 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
  text-decoration: line-through;
}
.main .cart .list-product li .info-detail .product-price span {
  padding: 0.5rem 0.8rem;
  background-color: #d70018;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
}
.main .cart .list-product li .info-detail .product-quantity {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
}
.main .cart .list-product li .btn-delete-cart {
  margin-top: 2rem;
  padding: 0.5rem 0.8rem;
  background-color: #d70018;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .main .cart .list-product li .btn-delete-cart {
    margin-top: 0;
  }
}
.main .cart .total-money {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  margin: 3rem 0;
  padding: 1rem;
  color: #ffffff;
  background-color: #d70018;
  border-radius: 5px;
  opacity: 0.8;
}
.main .cart .total-money .icon-money {
  margin-right: 0.3rem;
}
.main .cart .buyer-info h5 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: normal;
}
.main .cart .buyer-info form input[type=text], .main .cart .buyer-info form textarea {
  width: 100%;
  margin-top: 1.2rem;
  padding: 1rem 0.8rem;
  outline: none;
  border: none;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
}
.main .cart .buyer-info form input[type=text]::-moz-placeholder, .main .cart .buyer-info form textarea::-moz-placeholder {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
}
.main .cart .buyer-info form input[type=text]::placeholder, .main .cart .buyer-info form textarea::placeholder {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
}
.main .cart .buyer-info form h6 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: normal;
}
.main .cart .buyer-info form .payment-method li {
  margin-top: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.main .cart .buyer-info form .payment-method li input[type=radio] {
  width: auto;
}
.main .cart .buyer-info form .button-submit {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  margin-top: 3rem;
  padding: 1rem;
  text-align: center;
  color: #ffffff;
  background-color: #d70018;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .main .cart .buyer-info form .button-submit {
    margin: 3rem 0;
  }
}
.main .cart .buyer-info form .button-submit .icon-box-usd {
  margin-right: 0.3rem;
}

.footer {
  color: #ffffff;
  background-color: #262626;
}
.footer .container {
  margin: 6rem auto 0;
  padding: 4rem 1.5rem;
}
.footer .container h5 {
  position: relative;
  display: inline-block;
  margin: 3rem 0;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
}
.footer .container h5::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  border-radius: 10px;
}
.footer .container ul li {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
  transition: all 0.3s ease;
}
.footer .container a {
  display: block;
  color: #ffffff;
  transition: all 0.3s ease;
}
.footer .container a:hover {
  color: #d70018;
}
.footer .container p {
  color: #d70018;
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .footer .container .policy {
    width: calc(50% - 2rem);
  }
}
@media screen and (min-width: 1024px) {
  .footer .container .policy {
    width: calc(33.3333333333% - 1rem);
  }
}
@media screen and (min-width: 1200px) {
  .footer .container .policy {
    width: calc(25% - 1rem);
  }
}
.footer .container .policy ul li:not(:first-child) {
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer .container .support {
    width: calc(50% - 2rem);
  }
}
@media screen and (min-width: 1024px) {
  .footer .container .support {
    width: calc(33.3333333333% - 1rem);
  }
}
@media screen and (min-width: 1200px) {
  .footer .container .support {
    width: calc(25% - 1rem);
  }
}
.footer .container .support ul:not(:first-child) {
  margin-top: 1rem;
}
.footer .container .support ul li .icon-call, .footer .container .support ul li .icon-email {
  margin-right: 0.5rem;
}
.footer .container .support ul li a, .footer .container .support ul li p {
  margin-left: 2.6rem;
}
.footer .container .pay h5 {
  color: #ffffff;
}
.footer .container .pay img {
  width: 60%;
}
@media screen and (min-width: 768px) {
  .footer .container .pay {
    width: calc(50% - 2rem);
  }
  .footer .container .pay img {
    width: 75%;
  }
}
@media screen and (min-width: 1024px) {
  .footer .container .pay {
    width: calc(33.3333333333% - 1rem);
  }
}
@media screen and (min-width: 1200px) {
  .footer .container .pay {
    width: calc(25% - 1rem);
  }
}
@media screen and (min-width: 768px) {
  .footer .container .address {
    width: calc(50% - 2rem);
  }
}
@media screen and (min-width: 1024px) {
  .footer .container .address {
    width: calc(33.3333333333% - 1rem);
  }
}
@media screen and (min-width: 1200px) {
  .footer .container .address {
    width: calc(25% - 1rem);
  }
}
.footer .container .address ul li:not(:first-child) {
  margin-top: 1rem;
}
.footer .container .address ul li .icon-home {
  margin-right: 0.5rem;
}
.footer .container .address ul li a {
  color: #2F2F2F;
}
